@font-face {
    font-family: myriad;
    src: url(Font/Myriad\ Pro\ Regular.ttf);
}
body{
    font-family: myriad;
}

/* header-area start */
nav.navbar.navbar-expand-lg.navbar-light {
    width: 100%;
}
.hero-area {
    border-bottom: 1px solid #F6F6F6;
}
a.site-logo img {
    width: 55px;
    display: inline-block;
}

.header-area {
    padding: 16px;
}

.mainmenu {
    padding: 0;
    margin: 0;
}

.mainmenu ul {
    list-style: none;
}

.mainmenu li {
    display: inline-block;
    padding: 15px 0;
}

.mainmenu li a {
    display: block;
    padding-left: 31px;
    color: #888888;
    text-decoration: none;
}

.mainmenu li a:hover {
    color: #EF466F;
}

a.bordered-btn {
    background: #EF466F;
    padding: 10px 34px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}
/* .header-area-end */

/* .middle-area-start */
.middle-area {
    padding: 60px 0;
}

.section-title {
    padding-top: 45px;
    margin-bottom: 30px;
}

.section-title h2 {
    font-size: 42px;
    color: #373737;
}

.section-title p {
    font-size: 15px;
    color: #999999;
}
.form-1 input[type="email"] {
    padding: 10px 15px;
    font-size: 15px;
    width: 300px;
    border: 1px solid #EFEFEF;
}
a.bordered-btn-middle {
    display: inline-block;
    margin-left: 18px;
    background: #EF476F;
    padding: 11px 15px;
    font-size: 14px;
    width: 170px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}
.middle-bg img {
    width: 470px;
    height: 360px;
}
/* .middle-area-end */
/* .service-section-start */
.service-title {
    margin-bottom: 100px;
}
.service-title h2 {
    font-size: 28px;
    margin-bottom: 12px;
}

.service-title p {
    font-size: 15px;
    color: #999999;
    margin-bottom: 60px
}

.service-section {
    padding: 120px 0;
}
.single-service-item {
    padding: 50px 0;
    text-align: center;
    width: 100%;
    height: 300px;
    border: 1px solid #C7C7C7;
    border-radius: 5px;
    margin-bottom: 45px;
    line-height: 24px;
}

.single-service-item h3 {
    font-size: 20px;
    margin-top: 20px;
    font-weight: 300;
}

.single-service-item p {
    font-size: 15px;
    color: #C7C7C7;
}
.single-service-item:hover {
    border: 1px solid #F0476E;
}


a.border-less-service-btn {
    color: #000;
    font-size: 15px;
    text-decoration: none;
    padding: 25px;
    display: inline-block;
}
.single-service-item:hover,.single-service-item h3:hover{
    color: #F0476E;
}
a.border-less-service-btn .fa-solid {
    display: inline-block;
    padding-left: 6px;
}
.single-service-item:hover a.border-less-service-btn  {
    color: red;
}
.single-service-item:hover img {
    filter: invert(38%) sepia(36%) saturate(2328%) hue-rotate(311deg) brightness(98%) contrast(92%);
}
/* .service-section-end */
/* how-it-work-section-start */
.how-it-work-section {
    padding: 10px 0;
}

.how-title {
    padding: 72px 0;
}

.how-title h2 {
    font-size: 28px;
}
.how-title p {
    font-size: 15px;
    width: 75%;
    margin-bottom: 35px;
    color: #989898;
}

a.bordered-btn-how {
    text-decoration: none;
    padding: 14px 40px;
    background: #EF476F;
    color: #fff;
    display: inline-block;
    border-radius: 5px;
}

.how-title h2 {
    margin-bottom: 25px;
}
.how-it-work-bg img {
    width: 541px;
    height: 360px;
}
/* how-it-work-section-end */


/* case-study-sectionn-start */
.single-case-item {
    width: 370px;
    height: 320px;
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
    z-index: 1;
    padding: 40px;
}
.case-bg-1{
    background-image: url(Images/case-bg-1.jpg);
    background-color: #ddd;
}
.case-bg-2{
    background-image: url(Images/case-bg-2.jpg);
    background-color: #ddd;
}
.case-bg-3{
    background-image: url(Images/case-bg-3.jpg);
    background-color: #ddd;
}
.case-bg-4{
    background-image: url(Images/case-bg-4.jpg);
    background-color: #ddd;
}
.single-case-item::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #EF476F;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}

.single-case-item:hover::after {
    visibility: visible;
    opacity: 1;
}
.case-hover {
    opacity: 0;
    color: #fff;
}
.single-case-item:hover .case-hover {
    opacity: 1;
}

.single-case-item .fa-solid {
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    border-radius: 50px;
    background: #fff;
    color: #000;
}
.slide-area-case .owl-stage-outer {
    overflow: inherit;
}
.case-study-section {
    overflow: hidden;
    overflow-y: hidden;
}
.slide-area-case {
    position: relative;
    z-index: 2;
}

/* .slide-area-case::after {
    position: absolute;
    top: -1px;
    width: 500%;
    height: 111%;
    background: #FBFBFB;
    content: "";
    right: 100%;
} */
.case-study-section {
    padding: 100px 0;
    background: #FBFBFB;
}

.case-study-title h2 {
    font-size: 28px;
    margin-bottom: 24px;
}

.case-study-title p {
    font-size: 15px;
    color: #A8A8A8;
}

.case-study-title {margin-bottom: 85px;}
.case-info h3 {
    font-size: 24px;
    margin-bottom: 22px;
}

.case-info .case-p-2 {font-size: 14px;margin-bottom: 30px;}
/* case-study-section-end */


/* testimonial-section-sectionn-start */
.testimonial-section {
    padding: 120px 0;
    padding-bottom: 110px;
}

.single-testimonial-item h2 {
    font-size: 24px;
}
.owl-carousel .owl-item img {
    display: inline-block !important;
    border-radius: 50% !important;
    padding: 25px;
}
.single-testimonial-item h3 {
    font-size: 18px;
    padding: 6px 0;
}

.single-testimonial-item p {
    font-size: 14px;
    color: #999999;
}
.owl-theme .owl-dots .owl-dot span {
    width: 20px;
    height: 2px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    /* border-radius: 30px; */
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #EE486E;
}
/* testimonial-section-section-end */

/* cta-area-section-start */
.cta-area-section {
    padding: 90px 0;
    background: #F8F8F8;
}

.cta-title h3 {
    font-size: 28px;
}

a.cta-bordered-btn {
    text-align: right;
    padding: 15px 32px;
    background: #F04770;
    color: #fff;
    font-weight: 200;
    border-radius: 5px;
    text-decoration: none;
}
/* cta-area-section-end */

/* pricing-section-start */
.pricing-section {
    padding: 100px 0;
}

.pricing-section-title h2 {font-size: 28px;}

.pricing-section-title p {
    font-size: 15px;
    color: #999999;
}

.pricing-section-title {
    margin-bottom: 100px;
}
.single-pricing-list {
    text-align: center;
}
.single-pricing-list {
    text-align: center;
}

.pricing-section {
    padding: 120px 0;
}

.pricing-section-title h2 {font-size: 28px;}

.pricing-section-title p {
    font-size: 15px;
    color: #999999;
}

.pricing-section-title {
    margin-bottom: 100px;
}

.single-pricing-list {
    height: 500px;
    line-height: 30px;
    border: 1px solid red;
}

.pricing-info {
    padding: 35px;
    position: relative;
    z-index: 1;
}

.pricing-info h5 {
    font-size: 20px;
    padding-bottom: 35px;
}

.pricing-info span {
    font-size: 50px;
    color: #EE486E;
}
.single-pricing-list {
    text-align: center;
}

.pricing-section {
    padding: 120px 0;
}

.pricing-section-title h2 {font-size: 28px;}

.pricing-section-title p {
    font-size: 15px;
    color: #999999;
}

.pricing-section-title {
    margin-bottom: 100px;
}

.single-pricing-list {
    height: 540px;
    line-height: 30px;
    border: 1px solid #F3F3F3;
    border-radius: 5px;
    transition: .3s;
}
.single-pricing-list:hover {
    border: 1px solid #EE486E;
}
.pricing-info {
    padding: 35px;
    position: relative;
    z-index: 1;
}

.pricing-info h5 {
    font-size: 20px;
    padding-bottom: 35px;
}

.pricing-info span {
    font-size: 50px;
    color: #EE486E;
}

.pricing-info p {
    padding: 18px 0;
}

.pricing-info::after {
    position: absolute;
    left: 38px;
    bottom: 40px;
    width: 270px;
    height: 1px;
    content: "";
    background: #F1F1F1;
    transition: .3s;
}
.single-pricing-list:hover .pricing-info::after{
    background: #EE486E;
}
.single-pricing-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 32px;
}

a.pricing-btn {
    display: inline-block;
    padding: 10px 36px;
    border-radius: 5px;
    color: #fff;
    background:#EE486E;
    text-decoration: none;
    margin-top: 28px;
}
.single-pricing-list li {
    font-size: 16px;
    color: #999999;
    font-weight: 400;
}
/* pricing-section-end */

/* brands-section-start */
.single-brand-item {
    float: left;
    width: 20%;
    text-align: center;
}

.brands-section {
    padding: 0px 0;
    padding-bottom: 110px;
}
.single-brand-item:hover img {
    filter: invert(40%) sepia(33%) saturate(4826%) hue-rotate(321deg) brightness(99%) contrast(90%);
}
.single-brand-item img{
    cursor: pointer;
}
/* brands-section-end */

/* footer-section-start */
.footer-area {
    padding-bottom: 100px;
}
h5.footer-title {
    font-size: 18px;
    margin-bottom: 30px;
}
.mainmenu-2 ul {
    padding: 0;
    list-style: none;
    margin: 0;
}
.mainmenu-2 li a {
    font-size: 15px;
    color: #979797;
    text-decoration: none;
}
.mainmenu-2 {
    line-height: 24px;
}

.footer-hero {
    padding-bottom: 40px;
}

h5.Social {
    font-size: 20px;
    padding-bottom: 30px;
    margin: 0;
}

.social-link li {list-style: none;display: inline-block;padding: 5px 0;}

.social-link li a {padding-left: 16px;font-size: 14px;color: #999999;text-decoration: none;}
.social-link li a:hover {
    color: #F04770;
}
.social-link {
    display: inline-block;
    margin-left: -15px;
}

.form-2 input[type="email"] {
    border: none;
    background: #F6F6F6;
    padding: 10px 8px;
}


.form-2 input[type="submit"] {
    padding: 12px 14px;
    border: none;
    margin: -4px;
    background:  #F04770;
    color: #fff;
    font-size: 14px;
}
/* footer-section-section-end */

/* copy-area-section start */
.copy-right-area {
    background: #F7F7F7;
    padding: 20px 0;
    padding-bottom: 0px;
}
.copy-text p {
    font-size: 14px;
    color: #999999;
}
/* copy-area-section end */