body {
    overflow-x: hidden;
}

/* .header-area start */
a.logo {
    padding: 0;
    margin: 0;
    color: #fff;
    font-weight: 700;
}
.search-icon a {
    color: #fff;
    font-size: 15px;
}
.main-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-menu li {
    display: inline-block;
}

.main-menu li a {
    padding: 10px 20px;
    font-weight: 700;
    color: #fff;
}

.header-area {
    padding: 15px 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: auto;
}
.single-slide-bg-1{
    background-image: url(Images/hero-slide-1.jpg);
}
.single-slide-bg-2{
    background-image: url(Images/hero-slide-2.jpg);
}
.single-slide-bg-3{
    background-image: url(Images/hero-slide-3.jpg);
}
.section-bg{
    background-size: cover;
    background-position: center;
    height: 705px;
    margin-bottom: 0px;
}
.service-inner {
    display: table;
    height: 100%;
    width: 100%;
}

.service-tablecell {
    display: table-cell;
    vertical-align: middle;
}
/* header-area end */

/* slide-area-start */
.middle-bg{
    background-image: url(Images/hero-slide-middle-1.jpg);
}
/* .slide-area {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
} */
.single-list-item{
    position: relative;
    z-index: 2;
}
.single-list-item::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    content: "";
    opacity: .5;
    z-index: -2;
}
h2.title {
    color: #fff;
    font-weight: 600;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.middle-bg {
    height: 100%;
    background-size: cover;
    background-position: center center;
    margin: auto;
    display: table;
    width: 35%;
}
.play-icon {
    vertical-align: middle;
    display: table-cell;
}

i.fa-solid.fa-play {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #0CBBC0;
    color: #fff;
    border-radius: 50px;
}
.marging-bottom{
    margin-bottom: 260px;
}
a.borderd-btn {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    margin-top: 30px;
    background: #0cbbc0;
    padding: 10px 30px;
    font-size: 15px;
    border-radius: 50px;
}
.fa-arrow-left, .fa-arrow-right{
    color: #fff;
    font: 20px;
}
button.owl-prev {
    position: absolute;
    left: 90px;
    top: 50%;
}
button.owl-next {
    position: absolute;
    right: 90px;
    top: 50%;
}
/* slide-area-end */

/* about-us start */
.about-us {
    padding: 60px 0;
    padding-bottom: 0;
}
.about-us-icon {
    display: inline-block;
    font-size: 50px;
    color: #00CAD1;
    margin-bottom: 5px;
}

.shadow-gallery img {
    position: relative;
    z-index: 1;
    box-shadow: 0 10px 15px #D8D8D8;
}
.shadow-gallery {
    position: relative;
    width: 90%;
    top: 0px;
    display: block;
    margin-left: 55px;
}
.shadow-gallery img:nth-child(1) {
    height: 300px;
    width: 260px;
    border-radius: 10px;
}
.shadow-gallery img:nth-child(2) {
    position: absolute;
    right: 60px;
    bottom: 190px;
    z-index: 2;
    width: 288px;
    height: 260px;
    border-radius: 10px;
}
.shadow-gallery img:nth-child(3) {
    z-index: 3;
    left: 5%;
    height: 210px;
    bottom: 75px;
    border-radius: 10px;
}
.about-us-title h2 {
    font-size: 32px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-us-title p {
    color: #868686;
    line-height: 25px;
    font-size: 15px;
}


.single-about-service-list {
    text-align: center;
    margin-top: -295px;
}
.about-us-title {
    padding: 25px 0;
}
/* about-us end */

/* service-section start */
.service-section {
    overflow: hidden;
    margin: 70px 0;
}

.service-img img {
    width: 706px;
    height: 585px;
}

.single-service-item {
    width: 87%;
    margin-left: 100px;
    position: relative;
    padding: 10px;
}
.service-icon .fa-star {
    line-height: 100px;
}
.single-service-item h3 {
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 500;
}
.single-service-item .fa-star {
    position: absolute;
    font-size: 40px;
    top: 50px;
    text-align: center;
    color: rgb(11, 190, 187);
    left: -82px;
} 
.service-img{
    background-color: #ddd;
    /* background-image: url(Images/service-bg.jpg); */
    background-position: center;
    background-size: cover;
}
.service-section {
    position: relative;
    padding: 20px 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
.service-img {
    height: 100%;
    position: absolute;
    left: -151px;
    top: 0;
    width: 706px;
}
.single-service-item::after {
    position: absolute;
    left: -130px;
    top: 0;
    width: 160%;
    height: 100%;
    background: #0bbebb;
    content: "";
    visibility: hidden;
    z-index: -1;
}
.single-service-item:hover::after {
    visibility: visible;
}
.single-service-item:hover .fa-star, .single-service-item:hover{
    color: #fff;
}
/* service--section end */



/* our-skill--section start */
.section-title {
    margin-bottom: 50px;
}

.single-our-skill-circle-progressbar {
    text-align: center;
}

.circle-progress-wrap {
    position: relative;
    margin-bottom: 20px;
}

span.progressbar-parcentage {
    position: absolute;
    top: 40%;
    left: 10px;
    width: 100%;
    font-size: 40px;
    font-weight: 600;
    line-height: 0;
}
.single-our-skill-circle-progressbar h3 {
    text-transform: capitalize;
    display: inline-block;
    margin-top: 20px;
    font-weight: 600;
}
.our-skill-section {
    padding: 70px 0;
}

/* our-skill--section end */

/* cta-area--section start */
.cta-bg {
    background-image: url(Images/cta-bg.jpg);
    background-position: center;
    background-size: cover;
    padding-bottom: 60px;
    position: relative;
    z-index: 1;
}
.cta-bg::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    content: "";
    z-index: -1;
    opacity: .8;
}
.cta {
    padding: 50px 0;
}

.cta-title {
    margin-top: 70px;
    color: #fff;
    font-size: 15px;
}

.cta-title h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 15px;
}

.cta-title p {
    width: 68%;
    font-size: 15px;
}

a.cta-border-btn {
    display: inline-block;
    background: #0CBBC0;
    padding: 10px 30px;
    color: #fff;
    font-weight: 600;
    border-radius: 50px;
}

.cta-btn {
    display: block;
    margin-top: 110px;
}

/* project-section--section start */

.single-portfolio-item {
    float: left;
    width: 48%;
    height: 200px;
    background: #ddd;
    margin: 10px;
    position: relative;
    z-index: 2;
    background-size:cover;
    background-position: center;
    display: table;
}
.portfolio-bg-1{
    background-image: url(Images/project-bg-1.jpg);
}
.portfolio-bg-2{
    background-image: url(Images/project-bg-2.jpg);
}
.portfolio-bg-3{
    background-image: url(Images/project-bg-3.jpg);
}
.portfolio-bg-4{
    background-image: url(Images/project-bg-4.jpg);
}
.single-portfolio-item.large-bg {
    height: 570px;
}

.single-portfolio-item.small-bg {
    width: 258px;
    height: 255px;
    /* background-position: top; */
}
.single-portfolio-item.medium-bg {
    height: 295px;
    background-position: top;
}
.project-section {
    padding: 50px 0;
}
.single-portfolio-item::after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0;
}
.portfolio-hover {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    opacity: 0;
    color: #fff;
}
.portfolio-hover:hover {
    opacity: 1;
}
.single-portfolio-item::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    content: "";
    opacity: 0;
    z-index: -2;
    visibility: hidden;
    transition: .3s;
}
.single-portfolio-item:hover::after {
    visibility: visible;
    opacity: .8;
}
/* project-section--section end */

/* team-section--section strat */
.section-team {
    padding: 50px 0;
}
.single-listing-box {
    text-align: center;
    width: 95%;
    float: left;
    margin: 5px;
    background: #FBFBFB;
    color: #000;
    height: 400px;
    box-shadow: 0 0 5px #ddd;
    border-radius: 5px;
}
.owl-carousel .owl-item img {
    display: inline-block !important;
    width: 35% !important;
}
.radious-bg img {border-radius: 50%;margin-bottom: 15px;margin-top: 51px;}


.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #14C2CD;
}
.single-listing-box p, span {
    margin-top: 20px;
    color: #777;
}
.slid-area .owl-stage-outer{
    overflow: inherit;
}
.section-team.listing-carousel-wrapper {
    overflow-x: hidden;
}
.slid-area{
    position: relative;
}
.slid-area::before, .slid-area::after {
    position: absolute;
    left: -500%;
    top: 0;
    width: 500%;
    height: 100%;
    content: "";
    background: #fff;
    z-index: 1;
    opacity: .7;
}
.owl-carousel::after{
    left: auto;
    right: -500%;
}
/* team-section--section end */

/* tesimonial-section--section start */
.single-testimonial-list {
    text-align: center;
    width: 100%;
    background: #fff;
    color: #000;
    height: 360px;
    border-radius: 5px;
}
.testimonial-bg{
    background-image: url(Images/testimonial-bg.jpg);
    background-size: cover;
  
    position: relative;
    z-index: 1;
    height: 670px;
    padding: 60px 0;
    background-position: left;
    margin-top: 50px;
    color: #fff;
    margin-bottom: 100px;
}
.single-testimonial-list p.demo {
    font-size: 13px;
    font-weight: 600;
    padding-top: 3px;
}

.single-testimonial-list .hero-5 {
    font-size: 70px;
    padding-top: 20px;
    color: #07BDC1;
    font-weight: 600;
    display: inline-block;
}
.single-testimonial-list h5 {padding-top: 15px;}
.testimonial-bg::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    content: "";
    z-index: -1;
    opacity: .6;
}
.owl-theme .owl-dots .owl-dot.active span {
    background: #14C2CD;
}
.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 40px !important;
}
/* .owl-theme .owl-dots .owl-dot span{
    background: #fff;
}
.owl-theme .owl-dots .owl-dot:hover span{
    background: #fff;
} */
/* tesimonial-section--section end */

/* brand-section--section start */
.brand-section {
    padding: 50px 0;
}
.single-brand-list {
    float: left;
    width: 19%;
    margin: 5px;
    text-align: center;
}
.single-brand-list img {
    width: 100%;
}
/* brand-section--section end */