/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
}


/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {

}




/* Tablet + Mobile Layout: 768px. */
@media only screen and (max-width: 991px) {

  
}




/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
    
}




/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .services-section {
        margin-bottom: 640px;
    }   
    
    .single-testimonial-item {
        margin-bottom: 80px;
    }
    .cta-bg-1 {
        height: 100%;
    }
    .site-logo img {
        position: absolute;
        left: 50%;
        top: -44px;
    }
    .header-area i.fa {
        position: absolute;
        top: -30px;
    }
    .hero-bg {
        height: auto;
    }
    .middle-title h2 {
        font-size: 30px;
    }
    .middle-title p {
        width: 75%;
        font-size: 14px;
    }
}


    