@font-face {
    font-family: myriad;
    src: url(Font/Myriad\ Pro\ Regular.ttf);
}
body{
    font-family: myriad;
}

/* header-section start */
/* header-area-section start */
.hero-bg{
    background-image: url(Images/project-5-middlet-bg-2.png);
}
.hero-bg {
    height: 840px;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}
.hero-bg::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #073b4c;
    z-index: -1;
    opacity: .2;
}
.header-area {
    padding: 30px;
}

.header-area i.fa {
    font-size: 15px;
    color: #fff;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #000;
    display: block;
    transition: 0.3s;
    font-size: 15px;
}
  
  .sidenav a:hover {
    color: #06d6a0;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
  }
  .sidenav h5 {
    font-size: 16px;
    display: block;
    padding-left: 32px;
}
.site-logo img {
    width: 50px;
    display: inline-block;
}
/* header-area-section end */

/* middle-section start */
.middle-area-section {
    padding: 220px 0;
}
.middle-title h2 {
    font-size: 46px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 30px;
}
span.span-1 {
    color: #fff;
}
.middle-title p {
    color: #fff;
    font-weight: 300;
    width: 50%;
    margin: auto;
}
form.form-1 {
    margin-top: 40px;
}
.form-1 input[type="text"], input[type="email"] {
    width: 290px;
    margin: 15px;
    height: 50px;
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 14px;
    background: #073A4B;
}
.form-1 input[type="button"] {
    width: 139px;
    height: 50px;
    background: #06D7A0;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
}

::placeholder {
    color: #E8EBF0;
    opacity: .8;
}
.form-1 input[type="text"], input[type="email"]:focus{
    outline: none;
}
/* middle-section end */


/* about-us-section start */
.about-title h2 {
    font-size: 26px;
    margin-bottom: 40px;
}

.about-title p {
    font-size: 15px;
    color: #999999;
}

.about-title {
    margin-bottom: -40px;
    padding: 70px 0;
}
.about-us-section {
    padding: 120px 0;
}
.bg-gellery img {
    width: 100%;
    height: 100%;
}
.bg-gellery img:nth-child(2) {
    position: absolute;
    right: 60px;
    width: 300px;
    height: 400px;
    z-index: -2;
    border-radius: 5px;
    box-shadow: 0 10px 12px 0px #D5D5D5;
}
.bg-gellery img:nth-child(1) {
    width: 300px;
    height: 400px;
    margin-top: 80px;
    border-radius: 5px;
    box-shadow: 0 10px 12px 0px #D5D5D5;
    margin-left: 20px;
}

.bg-gellery {
    display: inline-block;
}
a.about-btn {
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

a.about-btn:hover {
    color: #06d6a0;
}
/* about-us-section end */

/* services-section start */

.single-service-list {
    text-align: center;
    width: 45%;
    display: inline-block;
    margin: 5px;
}
.single-service-list img {
    height: 50px;
    filter: brightness(0) saturate(100%) invert(63%) sepia(82%) saturate(1637%) hue-rotate(116deg) brightness(97%) contrast(95%);
    margin-bottom: 20px;
}
.single-service-list h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
}

.single-service-list p {
    font-size: 15px;
    color: #999999;
}
.service-info {
    
    padding: 80px 0;
    border-radius: 5px;
    position: relative;
    margin-top: 65px

}
.service-info::after {
    position: absolute;
    left: -405%;
    top: 0;
    width: 510%;
    height: 600px;
    content: "";
    background: #FDFDFD;
    z-index: -1;
    box-shadow: 0 0 20px #F4F4F4;
}

.service-bg {
    width: 100%;
    height: 100%;
    display: block;
}

.service-bg img {
    width: 720px;
    height: 600px;
}

.service-bg{
    background-image: url(Images/project-5-service-bgs-1.png);
    background-size: cover;
    background-position: right;
    width: 700px;
    height: 600px;
    position: absolute;
    left: -26px;
    top: 0;
    border-radius: 5px;

}
/* services-section end */

/* video-section start */
.video-bg{
    background-image: url(Images/project-5-video-bg-1.jpg);
    background-size: cover;
    background-position: center;

}
.video-bg {
    margin-top: 40px;
    height: 400px;
    padding: 100px 0;
    color: #fff;
}
.video-title h2 {
    font-size: 36px;
    margin-bottom: 25px;
    font-weight: 600;
}

.video-title p {
    font-size: 15px;
    color: #CACBCD;
}


.video-btn i.fa.fa-play {
    width: 70px;
    height: 70px;
    background: #06d6a0;
    line-height: 70px;
    font-size: 20px;
    color: #fff;
    border-radius: 50px;
}

.video-title {
    margin-bottom: 40px;
}
/* video-section end */

/* feature-section start */
.feature-section {
    padding: 80px 0;
}
.feature-title {
    padding: 70px 0;
    margin-bottom: -100px;
}
.single-feature-list {
    position: relative;
    z-index: 1;
    padding: 70px;
    margin-bottom: -120px;
}

.single-feature-list img {
    width: 40px;
    position: absolute;
    left: 0px;
    top: 74px;
    filter: brightness(0) saturate(100%) invert(56%) sepia(87%) saturate(1072%) hue-rotate(118deg) brightness(99%) contrast(95%);
}
.feature-bg-1 img {
    width: 540px;
    height: 840px;
    box-shadow: 0 0 20px #F6F6F6;
    display: block;
    margin-left: 0px;
    border-radius: 5px;
}
.feature-title h3 {
    font-size: 26px;
    margin-bottom: 20px;
}

.feature-title p,.single-feature-list p {
    font-size: 15px;
    color: #989898;
}
.single-feature-list h5 {
    font-size: 18px;
    margin-bottom: 20px;
}
.feature-details {
    display: block;
    margin-left: 19px;
}
/* feature-section end */
